archive/
data/
exacloud/
runs/arc/
env/
archive/
__pycache__/
*.pyc
/dist/
/*.egg-info
/*.egg
env
.eggs/
build/
.release-venv/
.venv/
build_doc.sh
build_wheel.sh
.DS_Store
/**/__pycache__/
/**/.pytest_cache/
site/
examples/arc/
examples/data/manuscript/runs/arc/*.zip
manuscript/runs/arc/**/*.html
manuscript/runs/arc/**